body{
    background-color: hsl(30, 54%, 90%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Outfit', sans-serif;
    font-size: 16px;
    color: rgb(107, 106, 106);
}

.recipe-box{
    max-width: 650px;
    height: 100%;
    width: 80vw;
    background-color: hsl(0, 0%, 100%);
    border-radius: 20px;
    padding: 20px;
    margin: 3rem 0 3rem 0;
}

/*.recipe-example{
    border-radius: 10px;
}*/

h1{
    font-family: 'Young Serif', serif;
    font-size: 2.5rem;
    color: rgb(20, 19, 19);
}

h2{
    font-family: 'Young Serif', serif;
    font-size: 1.8rem;
    color: hsl(14, 45%, 36%);
}

.prep{
    background-color: hsl(330, 100%, 98%);
    padding: 0.5vw 2vw;
}

.prep-time{
    color: hsl(332, 51%, 32%);
    font-size: 18px;
}

li{
    line-height: 1.8;
}
